<%= simple_form_for(@article, html: { multipart: true }) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :enabled, as: :select  %>
    <div class="row">
      <div class="six columns">
        <%= f.input :number, input_html: { class: 'u-full-width' } %>
      </div>

      <div class="six columns">
        <%= f.association :category, input_html: { class: 'u-full-width' } %>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= f.input :title, input_html: { class: 'u-full-width' } %>
        <%= f.input :blurb, input_html: { class: 'u-full-width' } %>
        <%= f.input :posted_at %>
        <%= f.input :markdown, input_html: { class: 'u-full-width' } %>

      </div>
    </div>
    <div class="form-actions">
      <%= f.button :submit %>
      <%= link_to 'Cancel', articles_path, class: 'button' %>
    </div>
  </div>
<% end %>
