<header>
  <h2>Admin Interface</h2>
</header>

<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<%= link_to 'Add a new article', new_article_path, class: 'button' %>
<%= link_to 'Back to homepage', root_path, class: 'button' %>

<table>
  <thead>
    <tr>
      <th>Enabled</th>
      <th>Number</th>
      <th>Title</th>
      <th>Category</th>
      <th>Posted at</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.enabled %></td>
        <td><%= article.number %></td>
        <td><%= article.title %></td>
        <td><%= article.category %></td>
        <td><%= article.posted_at.strftime("%b %d, %Y") %></td>
        <td><%= link_to 'edit', edit_article_path(article) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

