<% content_for :navigation do %>
  <%= link_to 'Add a new article', new_article_path, class: 'button' %>
  <%= link_to 'Back to homepage', root_path, class: 'button' %>
<% end %>

<header>
  <h2>Admin Interface</h2>
</header>

<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Enabled</th>
      <th>Number</th>
      <th>Title</th>
      <th>Category</th>
      <th>Posted at</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.enabled ? 'yes' : 'no' %></td>
        <td><%= article.number %></td>
        <td><%= link_to article.title, edit_article_path(article) %></td>
        <td><%= article.category.title %></td>
        <td><%= article.posted_at.strftime("%b %d, %Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
