<thead>
  <tr>
    <th><%= category.title.capitalize %></th>
    <th><%= category.description %></th>
  </tr>
</thead>
<tbody>
<% category.articles.enabled.each do |article| %>
  <tr>
    <td><%= article.posted_at.strftime("%Y-%m-%d") %></td>
    <td><%= link_to article.title, blog_path(article) %><br /><%= article.blurb.html_safe %></td>
  </tr>
<% end %>
<tr>
  <td colspan="2">&nbsp;</td>
</tr>
</tbody>
