%thead
  %tr
    %th.category
      %a{:name => "#{category.title}"}= category.title.capitalize
    %th= category.description
%tbody
  - category.articles.enabled.each do |article|
    %tr
      %td= friendly_date(article.posted_at)
      %td
        = link_to article.title, blog_path(article.permalink)
        %br/
        = h article.blurb.html_safe
  %tr
    %td{:colspan => "2"}  
