<% content_for :navigation do %>
  <p><small><%= link_to('&larr; previous article'.html_safe, blog_path(Article.latest)) %></small></p>
<% end %>

<header>
  <h2>Data Files</h2>
  <p>All the articles in one neat place.</p>
</header>

<% @categories.each do |category| %>
  <h3><%= category.title.capitalize %> <small>(<%= pluralize(category.articles_count, 'file') %>)</small></h3>
  <% category.articles.each do |article| %>
    <p>
      <small>[<%= article.posted_at.strftime("%Y-%m-%d") %>]</small> <%= link_to article.title, blog_path(article) %><br />
      <small><%= article.blurb.html_safe %></small>

    </p>
  <% end %>
<% end %>
