<% content_for :navigation do %>
  <% if @article %>
    <p><small><%= link_to('&larr; previous article'.html_safe, blog_path(Article.previous(@article))) %></small> | <small><%= link_to('view all', root_path) %></small></p>
  <% end %>
<% end %>

<% if @article %>
<article>
<header>
  <h2><%= @article.title %></h2>
  <p>Posted <time><%= @article.posted_at.strftime("%Y-%m-%d") %></time></p>
</header>
<%= @article.copy_copy %>
</article>
<% else %>
  <p>Your requested page was not found!<p>
<% end %>
