<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Lamenting Robot</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="http://fonts.googleapis.com/css?family=Oxygen:400,700" media="screen" rel="stylesheet" type="text/css">
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'robot_avatar_small.png' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="one-third column">
        <nav>
          <header>
            <h1><%= link_to 'Lamenting Robot', root_path %></h1>
            <time>by Indro De</time>
          </header>
          <p>A collection of opinionated guides and articles of varying topics from a developer's perspective.</p>
        </nav>
        &nbsp;
      </div>
      <div class="two-thirds column">
        <% if notice %>
          <p id="notice"><%= notice %></p>
        <% end %>

        <%= yield %>
        <footer>
          <p><a href="/">Lamenting Robot</a> &copy; <%= Time.now.year %> by <a href="http://indrode.com/">Indro De</a>. No humans were knowingly harmed while rendering this website. <a href="https://www.ruby-lang.org/en/">R<%= ENV['RUBY_VERSION']%></a></p>
          <p>&nbsp;</p>
          <p>{ this space intentionally left blank }</p>
        </footer>
      </div>
    </div>
  </div>
</body>
</html>
