<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Lamenting Robot</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag 'robot_avatar_small.png' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="one-third column">
        <nav>
          <header>
            <object type="image/svg+xml" data="<%= asset_path 'laro.svg' %>">Your browser does not support SVG</object>
            <p>by Indro De</p>
          </header>
          <p>A collection of opinionated guides and articles of varying topics from a developer's perspective.</p>
          <% if @article %>
            <p><small><%= link_to('view previous article', blog_path(number: @article.previous)) %></small></p>
          <% end %>
        </nav>
        &nbsp;
      </div>
      <div class="two-thirds column">
        <%= yield %>
        <footer>
          <p><a href="/">Lamenting Robot</a> &copy; <%= Time.now.year %> by <a href="http://indrode.com/">Indro De</a>. No humans were knowingly harmed rendering this page.</p>
          <p>&nbsp;</p>
          <p>{ this space intentionally left blank }</p>
        </footer>
      </div>
    </div>
  </div>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="http://fonts.googleapis.com/css?family=Oxygen:300,400,700" media="screen" rel="stylesheet" type="text/css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
